n8n/exported_workflow.json
[{"updatedAt":"2026-03-09T11:06:40.000Z","createdAt":"2026-03-09T11:03:03.750Z","id":"jrYrWC1gdI9TB4f1","name":"Comify AI – IDM-VTON Try-On & Size Recommendation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"comify-tryon","responseMode":"responseNode","options":{}},"id":"webhook-tryon","name":"Try-On Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[220,200],"webhookId":"comify-tryon"},{"parameters":{"httpMethod":"POST","path":"comify-size","responseMode":"responseNode","options":{}},"id":"webhook-size","name":"Size Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[220,600],"webhookId":"comify-size"},{"parameters":{"httpMethod":"GET","path":"comify-health","responseMode":"responseNode","options":{}},"id":"webhook-health","name":"Health Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[220,900],"webhookId":"comify-health"},{"parameters":{"method":"POST","url":"http://localhost:8001/api/generate-tryon-b64","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ person_image: $json.person_image, garment_image: $json.garment_image, category: $json.category || 'tops' }) }}","options":{"timeout":300000,"response":{"response":{"fullResponse":false}}}},"id":"call-fastapi-tryon","name":"FastAPI Try-On (HF IDM-VTON)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,200]},{"parameters":{"method":"POST","url":"http://localhost:8001/api/size-recommendation-b64","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ person_image: $json.person_image }) }}","options":{"timeout":30000,"response":{"response":{"fullResponse":false}}}},"id":"call-fastapi-size","name":"FastAPI Size (MediaPipe)","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[520,600]},{"parameters":{"respondWith":"allIncomingItems"},"id":"respond-tryon","name":"Respond Try-On","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[820,200]},{"parameters":{"respondWith":"allIncomingItems"},"id":"respond-size","name":"Respond Size","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[820,600]},{"parameters":{"respondWith":"json","responseBody":"{\"status\":\"ok\",\"orchestrator\":\"n8n\",\"model\":\"IDM-VTON (HF Space)\",\"services\":{\"fastapi\":true,\"hf_space\":true}}"},"id":"respond-health","name":"Respond Health","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[520,900]}],"connections":{"Try-On Webhook":{"main":[[{"node":"FastAPI Try-On (HF IDM-VTON)","type":"main","index":0}]]},"FastAPI Try-On (HF IDM-VTON)":{"main":[[{"node":"Respond Try-On","type":"main","index":0}]]},"Size Webhook":{"main":[[{"node":"FastAPI Size (MediaPipe)","type":"main","index":0}]]},"FastAPI Size (MediaPipe)":{"main":[[{"node":"Respond Size","type":"main","index":0}]]},"Health Webhook":{"main":[[{"node":"Respond Health","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true},"staticData":null,"meta":null,"pinData":null,"versionId":"5ee3a88b-e1ec-4a8f-8a2c-efab71e9b641","activeVersionId":"5ee3a88b-e1ec-4a8f-8a2c-efab71e9b641","versionCounter":6,"triggerCount":3,"tags":[{"updatedAt":"2026-03-09T10:28:19.712Z","createdAt":"2026-03-09T10:28:19.712Z","id":"cQCju8IoQESE0LeB","name":"virtual-tryon"},{"updatedAt":"2026-03-09T10:28:19.705Z","createdAt":"2026-03-09T10:28:19.705Z","id":"gXg6xOxgeShXBMDf","name":"idm-vton"},{"updatedAt":"2026-03-09T10:28:19.695Z","createdAt":"2026-03-09T10:28:19.695Z","id":"j2YnB0myil6AUE3I","name":"comify-ai"}],"shared":[{"updatedAt":"2026-03-09T11:03:03.774Z","createdAt":"2026-03-09T11:03:03.774Z","role":"workflow:owner","workflowId":"jrYrWC1gdI9TB4f1","projectId":"R8OAbr7MoxM0iwXl","project":{"updatedAt":"2026-03-08T05:39:51.718Z","createdAt":"2026-03-08T05:38:15.521Z","id":"R8OAbr7MoxM0iwXl","name":"sanjay singh <sanjay.singh@fonixtech.io>","type":"personal","icon":null,"description":null,"creatorId":"ed4d573f-3b5f-4f2c-93e6-8e5ce001d011"}}]}]